.shareChart{
  background-color:  #D1C4E9 ;
  padding:20px;
  border-radius: 25px;
  
}
 .shareHading{
  color:white;
 }

 .perchase-head{
  color: white;

 }

 .perchase-text{
  background-color: blanchedalmond;
  border-radius: 25px;

 }